/*my own style*/

@import 'var';
@import 'button';
@import 'hamburger';

/*nav content*/

*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.st-content,
.st-content-inner {
  position: relative;
  pointer-events: none;
}

.st-container {
  position: relative;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 1;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s ease-in-out;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s ease-in-out;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.st-menu {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: $lightBlue;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s ease-in-out;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s ease-in-out;
}

/* content style */

.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s ease-in-out;
  transition: background 0.3s, box-shadow 0.3s ease-in-out;
}

.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
}

/* Effect 2: Reveal */
.st-reveal.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-reveal.st-menu {
  z-index: 1;
}

.st-reveal.st-menu-open .st-reveal.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.st-reveal.st-menu::after {
  display: none;
}

.st-content-inner {
  z-index: 1;
  background-image: url("../img/cover_reza.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-attachment: fixed;
}

/*custom*/
.dash-header {
  width: 45px;
  border-top: 1px solid $orange;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dash-body {
  width: 45px;
  border-top: 1px solid $orange;
  margin: 20px auto;
  padding-bottom: 55px;
}
.red-dot::before {
  content:'.';
  color: $orange;
}
.hamburger-background {
  .logo {
    color:white;
    text-align: center;

    .text-logo {
        font-family: $logo;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        margin-top: 14px;
      
      .logo-link {
        color: white;
        text-decoration: none;
      }
      .logo-link:hover {
        opacity: 0.7;
        transition: opacity 0.3s;
      }

      .dot {
        font-size: 15px;
        color: $orange;
      }
    }
  }
}
h1 {
  font-family: $font-head;
}

#overlay {
  background: -webkit-linear-gradient(top left, rgba(17, 19, 47, 0.9), rgb(38, 61, 78));
  z-index: 2;
  height: 100vh;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
.hamburger-background {
    position: fixed;
    background-color: $lightBlue;
    width: 100%;
    display: block;
    height: 60px;
    z-index: 3;
    top: 0px;
}

section.text-header {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  pointer-events: auto;
  font-family: $font-head;

  .title-one {
    font-size: 20px;
    color: white;
  }
  .title-two {
    font-weight: 700;
    font-size: $h1-font-size;

  }
  .title-three {
    font-size: 18px;
  }
  .button-wrapper {
    
  }
}

section#timeline {
   pointer-events: auto;
   background-color: white;
   padding-top: 55px;

  .title-wrapper {
    font-family: $font-head;

    .title {
      font-weight: 700;
      font-size: $h1-font-size;
    }
    .subtitle {
      padding-top: 15px;
      font-weight: 300;
      font-size: $p-font-size;
    }
  }
  .now-wrapper {
    .year, .past-year {
      font-family: $font-head;
      font-weight: 700;
      font-size: $h2-font-size;
      margin-bottom: 0px;
    }
    .year {
      color: $lightBlue;
    }
    .past-year {
      color: $darkBlue;
      padding-bottom: 55px;
    }
  }
  .content-timeline {
    position: relative;

    .line {
      display: block;
      background-color: $lightBlue;
      width: 9px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 10px;
    }

    .item-wrapper {
      color: white;
      padding: 15px;
      margin-top: 15px;
      position: relative;
      border-radius: 5px;

      .function {
        font-family: $font-head;
        font-weight: 400;
      }
      .company {
        font-family: $font-head;
      }
      .date {
        font-family: $font-head;
        font-weight: 300;
        color: $orange;
        font-style: italic;
      }
      .description {
        font-family: $font-body;
        font-weight: 300;
      }
    }

    .right {
      margin-right: 55%;
      background-color: $darkBlue;
      opacity: 0.9;
      .fa {
        position: absolute;
        right: -9px;
        color: $darkBlue;
        top: 50%;
        opacity: 0.9;
      }
    }

    .left {
      margin-left: 55%;
      background-color: $lightBlue;
      opacity: 0.9;
      .fa {
        position: absolute;
        left: -9px;
        color: $lightBlue;
        top: 50%;
        opacity: 0.9;
      }
    }
    .icon-wrapper {
      display: block;
      height: 45px;
      width: 45px;
      background-color: $darkBlue;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 60%;
      box-shadow: 0 0 0 8px $lightBlue;
      transform: translate(-40%, -50%);
    }
    .icon {
      text-align: center;
      line-height: 53px;
      .fa {
        color: #ffffff;
      }
    }
  }
}

section#quote {
  pointer-events: auto;
  background-color: white;
  background-image: url("../img/software.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  background-attachment: fixed;

  .gradient-background {
    background: -webkit-linear-gradient(top left, rgba(17, 19, 47, 0.9), rgb(38, 61, 78));
    padding-top: 20px;
    padding-bottom: 20px;

    .quote {
      font-weight: 300;
      font-size: 1.5em;
      margin: 0;
      color: white;
      font-family: $font-head;
      margin: 55px 0;

      .fa-quote-left {
        padding-right: 5px;
      }
      .fa-quote-right {
        padding-left: 5px;
      }

      footer {
        color: #d9983e;
        font-family: $font-body;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}
